body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 47, 47);
}

.header {
    color: rgb(207, 219, 221);
    font-size: 32px;
    text-align: center;
    padding: 16px;
    margin-bottom: 32px;
}

.box {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
}

.buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.play {
    background-color: white;
    max-width: 215px;
    font-size: 16px;
    font-weight: bold;
}

img {
    display: block;
    width: 200px;
    margin-bottom: 8px;
    background-color: white;
}

.scorecard-info {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.result,.scorecard,.final-result,.scorecard-info {
    margin-top: 8px;
    text-align: center;
    font-size: 24px;
}

.play-again {
    margin-top: 16px;
    max-width: 150px;
    padding: 8px;
    font-size: 16px;
    align-self: center;
}

.footer {
    margin: 32px;
    text-align: right;
    color: rgb(207, 219, 221);
    font-size: 24px;
}